In [47]:
from datetime import datetime
import pandas as pd
import numpy as np

# Importar arquivo

In [3]:
import os.path
def path_base(base_name,folder):
    current_dir = os.path.abspath(os.path.join(os.getcwd()))
    print(current_dir)
    data_dir = current_dir.replace('notebook',folder)
    print(data_dir)
    data_base = data_dir + '\\' + base_name
    print(data_base)
    return data_base

In [16]:
dados = pd.read_csv(path_base('simulation_logs.csv','data'),sep=',')

C:\MyGit\py_USP\notebook
C:\MyGit\py_USP\data
C:\MyGit\py_USP\data\simulation_logs.csv

In [17]:
dados.head(3)

,Case ID,Activity,case:variant,LogType,elementId,processId,lifecycle:transition,time:timestamp,org:resource,resourceCost
0,192,EVENT 1 START,16,MXML.EnactmentLog,StartEvent_1nobalp,Process_000r8a1,assign,08/12/2020 13:34:22,NaN,NaN
1,192,EVENT 1 START,16,MXML.EnactmentLog,StartEvent_1nobalp,Process_000r8a1,start,08/12/2020 13:34:22,NaN,NaN
2,192,EVENT 1 START,16,MXML.EnactmentLog,StartEvent_1nobalp,Process_000r8a1,complete,08/12/2020 13:34:22,NaN,NaN

# Tratar arquivo

### Eliminar colunas n√£o usadas

In [18]:
dados.columns

Index(['Case ID', 'Activity', 'case:variant', 'LogType', 'elementId',
       'processId', 'lifecycle:transition', 'time:timestamp', 'org:resource',
       'resourceCost'],
      dtype='object')

In [19]:
columns_dados_1 = ['Case ID', 'Activity', 'case:variant', 'elementId',
        'lifecycle:transition', 'time:timestamp', 'org:resource',
       'resourceCost']

In [20]:
dados = dados[columns_dados_1]

In [21]:
dados.columns

Index(['Case ID', 'Activity', 'case:variant', 'elementId',
       'lifecycle:transition', 'time:timestamp', 'org:resource',
       'resourceCost'],
      dtype='object')

### Renomear colunas

In [22]:
dados.rename(columns={ 'Case ID': 'CaseId', 'case:variant': 'Variant', 'case:variant': 'Variant', 
                      'elementId': 'ElementId','lifecycle:transition': 'Transition',
                     'time:timestamp': 'Time', 'org:resource': 'Resource', 'resourceCost': 'ResourceCost'}, inplace=True)

In [23]:
dados.columns

Index(['CaseId', 'Activity', 'Variant', 'ElementId', 'Transition', 'Time',
       'Resource', 'ResourceCost'],
      dtype='object')

In [24]:
dados.head(3)

,CaseId,Activity,Variant,ElementId,Transition,Time,Resource,ResourceCost
0,192,EVENT 1 START,16,StartEvent_1nobalp,assign,08/12/2020 13:34:22,NaN,NaN
1,192,EVENT 1 START,16,StartEvent_1nobalp,start,08/12/2020 13:34:22,NaN,NaN
2,192,EVENT 1 START,16,StartEvent_1nobalp,complete,08/12/2020 13:34:22,NaN,NaN

In [25]:
dados.dtypes

CaseId            int64
Activity         object
Variant           int64
ElementId        object
Transition       object
Time             object
Resource         object
ResourceCost    float64
dtype: object

In [28]:
dados['Activity'] = dados['Activity'].str.replace(' ', '_')

In [46]:
dados.head(6)

,CaseId,Activity,Variant,ElementId,Transition,Time,Resource,ResourceCost
0,192,EVENT_1_START,16,StartEvent_1nobalp,assign,08/12/2020 13:34:22,NaN,NaN
1,192,EVENT_1_START,16,StartEvent_1nobalp,start,08/12/2020 13:34:22,NaN,NaN
2,192,EVENT_1_START,16,StartEvent_1nobalp,complete,08/12/2020 13:34:22,NaN,NaN
3,192,A,16,Activity_18jp21a,assign,08/12/2020 13:34:22,USR01,NaN
4,192,A,16,Activity_18jp21a,start,08/12/2020 15:10:50,NaN,NaN
5,192,A,16,Activity_18jp21a,complete,08/12/2020 15:13:16,NaN,0.407869

In [32]:
dados['Time'][1]

'08/12/2020 13:34:22'

In [40]:
dados['Time'][1]

'08/12/2020 13:34:22'

### Transformar de str para datetime campo Time

In [42]:
inDate = '08/12/2020 13:34:22'
d = datetime.strptime(inDate, "%d/%m/%Y %H:%M:%S")
print(d)
print(d.strftime("YYYYMMDD HH:mm:ss (%Y%m%d %H:%M:%S)"))

2020-12-08 13:34:22
YYYYMMDD HH:mm:ss (20201208 13:34:22)

In [ ]:
#dados['Time'] = datetime.strptime(dados['Time'], "%d/%m/%Y %H:%M:%S")